<div ng-controller="contentCtrl" ng-show="isEdit">
    
    <div id="insertion">
    </div>
        
    <md-button ng-click="addContent()" add-content type="subheader" class=" content-button md-accent md-raised">+ Header</md-button>
    <md-button ng-click="addContent()" add-content type="text" class="content-button md-accent md-raised">+ Text</md-button>
    <md-button ng-click="addContent()" add-content type="definition" class="content-button md-accent md-raised">+ Definition</md-button>
    <md-button ng-click="addContent()" add-content type="code" class="content-button md-accent md-raised">+ Code</md-button>
    <md-button ng-click="addContent()" add-content type="list" class="content-button md-accent md-raised">+ List</md-button>
    <md-button ng-click="addContent()" add-content type="image" class="content-button md-accent md-raised">+ Image</md-button>
    <md-button ng-click="addContent()" add-content type="source" class="content-button md-accent md-raised">+ Source</md-button>
    <md-button ng-click="addContent()" add-content type="question" class="content-button md-accent md-raised">+ Question</md-button>
    
</div>