<md-sidenav md-whiteframe="16" md-component-id="left">

    <div layout="column" layout="center center" ng-controller="sidenavCtrl">
        
        <!-- A-Levels -->
        <div class="sidenav-header">A-Levels</div>
        <div sidebar-option ng-click="optionSelect($event)" class="sidenav-option">Computer Science</div>
        <div sidebar-option class="sidenav-option disabled">Maths (Coming Soon)</div>
        <div sidebar-option class="sidenav-option disabled">Physics (Coming Soon)</div>
        
        <!-- Studying -->
        <div class="md-headline medium-padding large-padding-left large-margin-top ng-hide">Studying</div>
        <div sidebar-option class="sidenav-option ng-hide">Revision Tips</div>
        <div sidebar-option class="sidenav-option ng-hide">Resources</div>

        <!-- Other Stuff -->
        <div class="sidenav-header">Other Stuff</div>
        <div sidebar-option class="sidenav-option" ng-click="optionSelect($event)">Contact Us</div>
        <div sidebar-option class="sidenav-option ng-hide">About</div>

    </div>
    
</md-sidenav>