<div class="content">
    <page-header></page-header>
    <div type="text" class="text" content-element="0">A</div>
    <div type="text" class="text" content-element="1">B</div>
    <div type="text" class="text" content-element="2">C</div>
    <div type="text" class="text" content-element="3">D</div>
    <div type="text" class="text" content-element="4">E</div>
    <div type="text" class="text" content-element="5">F</div>
    <div type="text" class="text" content-element="6">G</div>
    <content></content>
</div>
<div class="vertical-ad">Ads Here</div>