<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">individual, social, ethical, legal and cultural issues and oppertunities</md-button>
    </div>
</div>