<div class="nav">
    <div class="menu-title">Exam Boards</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">AQA</md-button>
        <md-button ng-click="direct($event)" ng-disabled="true" title-case class="menu-button hide">OCR</md-button>
    </div>
</div>