.no-padding {
  padding: 0 !important;
}
.small-margin {
  margin: 5px;
}
.small-margin-top {
  margin-top: 5px;
}
.small-margin-right {
  margin-right: 5px;
}
.small-margin-left {
  margin-left: 5px;
}
.small-margin-bottom {
  margin-bottom: 5px;
}
.medium-margin {
  margin: 10px;
}
.medium-margin-top {
  margin-top: 10px;
}
.medium-margin-right {
  margin-right: 10px;
}
.medium-margin-left {
  margin-left: 10px;
}
.medium-margin-bottom {
  margin-bottom: 10px;
}
.large-margin {
  margin: 15px;
}
.large-margin-top {
  margin-top: 15px;
}
.large-margin-right {
  margin-right: 15px;
}
.large-margin-left {
  margin-left: 15px;
}
.large-margin-bottom {
  margin-bottom: 15px;
}
.small-padding {
  padding: 5px;
}
.small-padding-top {
  padding-top: 5px;
}
.small-padding-right {
  padding-right: 5px;
}
.small-padding-left {
  padding-left: 5px;
}
.small-padding-bottom {
  padding-bottom: 5px;
}
.medium-padding {
  padding: 10px;
}
.medium-padding-top {
  padding-top: 10px;
}
.medium-padding-right {
  padding-right: 10px;
}
.medium-padding-left {
  padding-left: 10px;
}
.medium-padding-bottom {
  padding-bottom: 10px;
}
.large-padding {
  padding: 15px;
}
.large-padding-top {
  padding-top: 15px;
}
.large-padding-right {
  padding-right: 15px;
}
.large-padding-left {
  padding-left: 15px;
}
.large-padding-bottom {
  padding-bottom: 15px;
}
.content-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.content-margin-edit {
  padding: 5px;
}
.fade-out {
  visibility: invisible;
  transition: visibility 1s ease-in;
}
#home-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  height: 20vh;
  width: 20vh;
}
.image-drop-box {
  height: 100px;
  width: 100%;
  font-size: 30px;
  background: #ccc;
  line-height: 100px;
  text-align: center;
  border: 5px dashed #aaa;
  cursor: pointer;
}
.dragover {
  background: #aaa;
  color: white;
  font-weight: bold;
  border: 5px dashed #ccc;
}
.text {
  margin-top: 15px;
  margin-bottom: 15px;
}
.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  max-height: 400px;
}
.source {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}
.image-max-width {
  width: 100%;
  max-height: auto !important;
}
.subheader {
  padding-top: 15px;
}
.invisible {
  visibility: hidden;
}
.question-container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.question {
  padding-bottom: 15px;
  font-size: 20px;
}
.answer {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  text-transform: none !important;
  background: #E0E0E0;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 !important;
}
.answer div {
  padding: 10px;
  line-height: 18px;
  white-space: normal;
}
.answer-indicator {
  margin-right: 15px;
  color: black !important;
}
.correct-answer {
  background: #4CAF50 !important;
  color: black !important;
}
.incorrect-answer {
  background: #E57373 !important;
  color: black !important;
}
.highlight-answer {
  border: 1px solid black;
}
.answer-hover:hover {
  background: black !important;
  color: white;
}
.mark-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-left: 10px;
  text-transform: none !important;
  font-size: 20px;
  background: #757575;
  color: white;
}
.mark-button.mark-button:hover {
  background: black;
}
.incomplete {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.mark-text {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.content-button {
  padding-left: 15px;
  padding-right: 15px;
  min-width: auto;
}
.answer-checkbox {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px !important;
}
md-checkbox {
  margin: 0;
}
.creator-input {
  padding: 10px;
  background-color: #ccc;
  width: auto;
}
.creator-input textarea {
  padding: 10px;
  resize: none;
}
md-content {
  overflow-x: hidden;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.menu-title {
  font-size: 30px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.menu-button {
  box-sizing: border-box;
  white-space: initial;
  line-height: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  font-size: 15px;
  width: 200px;
  background: black;
  color: white;
  border-radius: 5%;
  text-transform: none;
}
.menu-button.menu-button:hover {
  color: black;
}
.menu-button-test {
  box-sizing: border-box;
  white-space: initial;
  line-height: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  font-size: 15px;
  width: 200px;
  background: black;
  color: white;
  border-radius: 5%;
  text-transform: none;
  background: #4A148C;
}
.menu-button-test.menu-button-test:hover {
  color: black;
}
.span {
  width: 100%;
}
#title {
  cursor: pointer;
  font-family: "impact" sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
#title#title:focus {
  outline: none;
}
.search {
  margin-top: 42px;
}
.md-toolbar-tools {
  padding: 20px;
}
.md-toolbar-tools md-input-container input {
  text-align: right;
  font-size: 25px;
  margin-bottom: 2px;
  color: white;
}
.md-toolbar-tools md-input-container input {
  color: white;
}
.md-toolbar-tools .md-icon-button {
  width: 45px;
  height: 45px;
  line-height: 45px;
  min-height: 45px;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.md-toolbar-tools .md-icon-button md-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.md-button[disabled].md-button[disabled]:hover {
  color: rgba(0, 0, 0, 0.38) !important;
}
md-sidenav {
  position: absolute;
  overflow-y: visible;
}
md-backdrop {
  position: fixed;
  top: 64px;
}
.view {
  width: 1200px;
  margin: auto;
  overflow: auto;
}
.nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  margin-left: 200px;
  float: left;
  width: 800px;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 30px;
}
.home-image {
  position: absolute;
  top: -25vh;
  clip: rect(25vh, 100vw, 75vh, 0);
  max-width: 100%;
  min-height: 75vh;
  min-width: 1105px;
  opacity: 0.9;
}
.image-overlay {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 2;
  text-align: center;
}
.text-shadow-home {
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
}
#welcome {
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
  color: white;
  font-weight: bold;
  margin-top: 2vh;
  font-size: 7vh;
}
#welcome-sub {
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
  color: white;
  font-weight: bold;
  font-size: 4vh;
}
#browse-button {
  width: 200px;
  margin: auto;
  background: white;
  margin-top: 3vh;
  height: 5vh;
}
.border-bottom {
  border-right: 1px solid #ccc;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edit {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: background 0.5s;
}
.edit:hover {
  background: #ddd;
}
.definable {
  font-weight: bold;
}
.definition-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 20px;
  background: #C5CAE9;
}
.definition-container div {
  display: inline;
}
.no-pointer-events {
  pointer-events: none;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.code-input-container {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #aaa;
  font-family: "Courier New";
  font-size: 15px;
  position: relative;
}
pre {
  margin: 0;
  padding-bottom: 5px;
  overflow-x: auto;
}
mat-input-container {
  color: white;
}
.code-output-container {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #aaa;
  font-family: "Courier New";
  font-size: 15px;
  position: relative;
  margin-bottom: 15px;
  background: #ccc;
  border-top: none;
  color: blue;
  margin-top: 0 !important;
}
.container-label {
  font-size: 10px;
  padding-top: 5px;
  padding-right: 5px;
  color: black;
  position: absolute;
  padding: 5px;
  right: 0;
  top: 0;
}
.image-drop {
  border: 2px dotted #aaa;
  text-align: center;
  line-height: 40px;
}
.center-text {
  text-align: center;
}
#more {
  color: white;
  font-weight: bolder;
  margin: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.infobox-icon {
  font-size: 70px;
  min-height: 70px;
  min-width: 70px;
}
.vertical-ad {
  margin-left: 10px;
  text-align: center;
  padding-top: 300px;
  font-size: 30px;
  float: right;
  width: 190px;
  min-height: 1000px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  background: #ddd;
  display: none;
}
.page-header {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}
.selected {
  background: #212121;
  color: rgba(255, 255, 255, 0.87);
  outline: none;
  border: 0;
}
.line-break {
  display: flex;
}
[ng-drag].dragging {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  border: 10px solid #ccc;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  max-height: 100px;
  left: 300px;
  background: #ccc !important;
  color: black !important;
  width: 200px !important;
}
[ng-drop].drag-enter {
  background: navy;
  color: white;
}
.pointer {
  cursor: pointer;
}
.drop-box {
  width: 100%;
  height: 200px;
  background: #ccc;
  line-height: 200px;
  text-align: center;
}
.dragover {
  background: #888;
}
#breadcrumb-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  overflow-x: hidden;
  color: white;
  position: relative;
  background: #757575;
  height: 50px;
  box-sizing: border-box;
  display: flex;
}
#breadcrumb {
  display: flex;
  align-items: center;
}
#breadcrumb-insertion {
  display: flex;
  visibility: visible;
  transition: visibility 1s ease-in;
}
#breadcrumb-menu-button md-icon {
  color: white;
}
.divider {
  width: 100%;
  z-index: -1;
  height: 44px;
  background-color: #e0e0e0;
}
@media screen and (max-width: 960px) {
  md-sidenav {
    top: 0px;
  }
  md-backdrop {
    top: 48px;
  }
}
@media screen and (max-width: 1000px) {
  .view {
    width: 100%;
  }
  .nav {
    width: 80%;
  }
}
.hide {
  display: none;
}
.breadcrumb-element {
  white-space: nowrap;
  display: inline;
  font-size: 20px;
  cursor: pointer;
}
.breadcrumb-element.breadcrumb-element:focus {
  outline: none;
}
.breadcrumb-element.breadcrumb-element:hover {
  color: #ccc;
}
.chevron {
  display: inline;
}
.sidenav-header {
  padding: 10px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
}
.sidenav-option {
  background-color: none;
  transition: background-color 0.2s ease-out;
  padding-left: 15px;
  padding: 10px;
  font-size: 20px;
  outline: none;
}
.sidenav-option:hover {
  cursor: pointer;
  background-color: #bbb;
  transition: background-color 0.2s ease-out;
}
.no-focus {
  outline: none;
}
.hover-highlight {
  background-color: none;
  transition: background-color 0.2s ease-out;
}
.hover-highlight:hover {
  cursor: pointer;
  background-color: #bbb;
  transition: background-color 0.2s ease-out;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 1200px) {
  .view {
    width: 1000px;
  }
  .content {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .view {
    width: 100%;
  }
  .nav {
    width: 80%;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .vertical-ad {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .menu-button.menu-button:hover {
    background: black;
    color: white;
  }
  .breadcrumb-element.breadcrumb-element:hover {
    color: inherit;
  }
  .page-header {
    text-align: center;
  }
  .menu-button {
    margin: 0px 15% 20px 0px;
    padding: 20px;
    width: 100%;
  }
  .menu-title {
    padding-left: 0;
    text-align: center;
  }
  .search {
    margin-top: 27px;
  }
  md-content {
    overflow-y: auto;
    width: 100%;
  }
  .content {
    width: 95%;
    border: 0;
    text-align: left;
  }
  .home-image {
    position: absolute;
    top: 0;
    clip: rect(0, 100vw, 100vh, 0vw);
    min-height: 95vh;
  }
  .image-overlay {
    height: 95vh;
  }
  #welcome {
    margin: 1vh 10px 3vh 10px;
  }
  #welcome-sub {
    color: white;
    font-weight: bold;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
  }
  #browse-button {
    width: 200px;
    margin: auto;
    padding: 5px;
    background: white;
  }
  md-sidenav {
    top: 0px;
  }
  md-backdrop {
    top: 56px;
  }
}
