<!DOCTYPE html>
<html ng-app="RevisionApp" ng-controller="appCtrl">
<head>
    
    <link rel="icon" type="image/png" href="/app/client/images/logo.png" />
    <meta name="description" ng-bind="description">
    <meta name="viewport" content="initial-scale=0.8, maximum-scale=1, user-scalable=no" />

    <meta name="fragment" content="!">
    <script> window.prerenderReady = false;</script>
    
    <meta name="google-site-verification" content="NsOY4OjTg2m5IQnLt7ZejDmYoCx2KWRZ7zL-1exmzvU" />

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title ng-bind="title"></title>
    
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/ng-uuid/src/ng-uuid.js"></script>
    <script src="/bower_components/ngDraggable/ngDraggable.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="/app/client/app.js"></script>
    
    <meta name="google-site-verification" content="UacDRtIMHed2ElMdWoeUDVVI35mSFagl6knzNaHtmS0" />
    
<!-- dynamically added -->
<script src='/app/client/paths/home/navCtrl.js'></script>
    
    <script src="/app/client/components/breadcrumb/controllers/breadcrumbCtrl.js"></script>
    <script src="/app/client/paths/contact-us/contactUsCtrl.js"></script>
    <script src="/app/client/paths/home/homeCtrl.js"></script>
    <script src="/app/client/navbar/navbarCtrl.js"></script>
    <script src="/app/client/sidebar/sidenavCtrl.js"></script>
    <script src="/app/client/view/controllers/viewCtrl.js"></script>
    <script src="/app/client/navbar/focusDirective.js"></script>
    <script src="/app/client/components/content-creator/controllers/contentCtrl.js"></script>
    <script src="/app/client/components/content-creator/controllers/contentElementCtrl.js"></script>
    <script src="/app/client/components/breadcrumb/directives/breadcrumbDirective.js"></script>
    <script src="/app/client/components/capitalizer/directives/titleCaseDirective.js"></script>
    <script src="/app/client/components/capitalizer/services/titleCaseService.js"></script>
    <script src="/app/client/components/content-creator/directives/contentDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/createImageDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/inputCreatorDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/lineBreakDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/headerDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/imageDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/createRemoveDirective.js"></script>    
    <script src="/app/client/components/content-creator/directives/createSaveDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/editDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/editCancelDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/editRemoveDirective.js"></script>
    <script src="/app/client/sidebar/directives/sidebarOptionDirective.js"></script>
    <script src="/app/client/components/content-creator/directives/editSaveDirective.js"></script>
    <script src="/app/client/components/content-creator/services/activeInputService.js"></script>
    <script src="/app/client/components/content-creator/services/templateMapService.js"></script>
    <script src="/app/client/components/content-creator/services/sortedService.js"></script>
    <script src="/app/client/components/content-creator/services/contentElementCountService.js"></script>
    <script src="/app/client/components/content-creator/services/fileWriteService.js"></script>
    <script src="/app/client/components/content-creator/services/loadingService.js"></script>
    <script src="/app/client/components/question/controllers/questionCtrl.js"></script>
    <script src="/app/client/components/question/services/testService.js"></script>
    <script src="/app/client/components/question/directives/correctDirective.js"></script>
    <script src="/app/client/components/question/directives/markDirective.js"></script>    


    <!-- css -->
    <link rel="stylesheet" href="/app/client/index.css">
    
</head>
<body layout="column" ng-cloak>
    <base href="/">
    
    <div style="display: none">{{message}}</div>
    <!-- navbar -->
    <div ng-include src="'/app/client/navbar/navbar.html'"></div>
    <!--base -->
    
    <!-- content -->
    <!-- breadcrumb -->
    <div md-whiteframe="12" id="breadcrumb-container" ng-show="breadcrumb" >
        
        <div breadcrumb id="breadcrumb"
        ng-controller="breadcrumbCtrl" ng-class="{'sidenav-margin': margin}">
            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button"
                aria-label="Open breadcrumb menu"  id="breadcrumb-menu-button" 
                ng-show="breadcrumbMenu">
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content id="breadcrumb-menu-insertion" class="no-padding">
                </md-menu-content>
            </md-menu>
        <span id="breadcrumb-insertion"></span>
        </div>
        
    </div>
        
    <md-content flex>
        <!-- sidenav -->
        <div ng-include src="'/app/client/sidebar/sidenav.html'"></div>
        <!-- view -->
        <div ng-controller="viewCtrl" ng-view
        ng-class="{'sidenav-margin': margin, view: !home}"></div>
    </md-content>
    
    <!-- livereload -->
    <!--<script src="http://revision-site-maxdbarton97.c9users.io:8081/livereload.js"></script>-->
</body>
</html>