<div class="nav"> 
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">internal hardware components of a computer</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">the stored program concept</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">structure and role of the processor and its components</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">external hardware devices</md-button>
    </div>
</div>