<div layout="column" layout-align="start center" class="medium-margin" ng-controller="ContactUsCtrl">
    <div class="md-display-2" flex>Contact Us</div>

    <div class="md-title small-padding" style="text-align: center">Have a question? Want to leave feedback? Please feel free to contact us on the following email:</div>
    <div layout layout-align="start center" class="medium-margin medium-margin-bottom">
        <md-icon class="material-icons">people</md-icon>
        <div class="small-margin-left">alvls.contactus@gmail.com</div>
    </div>
    <div class="md-title small-margin large-margin-bottom" style="text-align: center">Thank you for your interest in ALVLS.</div>
    <md-button class="md-raised large-margin-top medium-padding-left medium-padding-right" ng-click="goHome()">Back Home</md-button>
</div>