<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">number systems</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">number bases</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">units of information</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">binary number system</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">information coding systems</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">representing images, sounds, and other data</md-button>
    </div>
</div>