<div class="content">
    <page-header></page-header>
    <div type="definition" class="definition-container" content-element="0"><div class="definable">Arithmetic Operator</div><div>: A mathematical function that takes two numeric values and performs a calculation on them.</div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="1">Addition</div>
    <div type="code" content-element="2"><div class="code-input-container"><div class="container-label">Python</div><pre>print(20+10)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>30</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="3">Subtraction</div>
    <div type="code" content-element="4"><div class="code-input-container"><div class="container-label">Python</div><pre>print(20-10)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>10</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="5">Multiplication</div>
    <div type="code" content-element="6"><div class="code-input-container"><div class="container-label">Python</div><pre>print(20*10)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>200</div></div></div>
    <div type="text" class="text" content-element="7">An astricts symbol to multiple numbers, not the letter x.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="8">Division</div>
    <div type="code" content-element="9"><div class="code-input-container"><div class="container-label">Python</div><pre>print(10/5)<br>print(4/6)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>2<br>0.6666666666666666<br></div></div></div>
    <div type="text" class="text" content-element="10">Python rounds down the irrational values, so be careful when trying to be accurate.</div>
    <div type="text" class="text" content-element="11">If you would like to find the remainder of a division of two integers then you must use the modulo operator, usually shortened to the mod operator.</div>
    <div type="code" content-element="12"><div class="code-input-container"><div class="container-label">Python</div><pre>print(10 % 6) </pre></div><div class="code-output-container"><div class="container-label">Output</div><div>4</div></div></div>
    <div type="text" class="text" content-element="13">This operator is denoted by a percentage symbol. 6 goes into 10 once with a remainder of 4.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="14">Exponentiation</div>
    <div type="code" content-element="15"><div class="code-input-container"><div class="container-label">Python</div><pre>print(10**2)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>100</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="16">Rounding</div>
    <div type="code" content-element="17"><div class="code-input-container"><div class="container-label">Python</div><pre>a = round(10.6)<br>print(a)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>11</div></div></div>
    <div type="code" content-element="18"><div class="code-input-container"><div class="container-label">Python</div><pre>b = round(9.441, 2)<br>print(b)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>9.44</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="19">Questions</div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="20"><div class="question">What symbol is used for multiplication?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">x</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">*</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">#</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">|</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="21"><div class="question">What symbol(s) is used for exponentiation?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">^</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">**</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">#</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">!</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <content></content>
    <div layout class="medium-margin-bottom medium-margin-top">
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/programming-concepts', $event)">Previous</md-button>
        <div flex></div>
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/relational-operations', $event)">Next</md-button>
    </div>
</div>
<div class="vertical-ad">Ads Here</div>