<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">communication</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">networking</md-button>
    </div>
</div>