<div class="nav">
    <div class="menu-title">Main Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">fundamentals of data representation</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">fundamentals of computer systems</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">fundamentals of computer organisation and architecture</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">consequences of uses of computing</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">fundamentals of communication and networking</md-button>
    </div>
</div>