<div class="content">
    <page-header></page-header>
    <div type="definition" class="definition-container" content-element="0"><div class="definable">Relational Operator</div><div>: An operator that compares two values.</div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="1">Equal To</div>
    <div type="code" content-element="2"><div class="code-input-container"><div class="container-label">Python</div><pre>x = 10<br>y = 12<br><br>print(x == y) <br>print(x+2 == y)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True <br>False</div></div></div>
    <div type="text" class="text" content-element="3">The Equal To operator uses two equals signs. Remember that one equals sign is used to declare variables. You can also compare other data types too.</div>
    <div type="code" content-element="4"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 'Hello'<br>b = 'World'<br>c = 'World'<br><br>print(a == b)<br>print(b == c)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>False<br>True</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="5">Not Equal To</div>
    <div type="code" content-element="6"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 20<br>b = 30<br><br>print(a != b)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="7">Less Than</div>
    <div type="code" content-element="8"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 100<br>b = 200<br><br>print(a &lt; b)<br>print(b &lt; a)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True<br>False</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="9">Greater Than</div>
    <div type="code" content-element="10"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 5<br>b = 10<br><br>print(a &gt; b)<br>print(b &gt; a)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>False<br>True</div></div></div>
    <div type="subheader" class="md-headline subheader" content-element="11">Less Than or Equal To</div>
    <div type="code" content-element="12"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 5<br>b = 10<br>c = 10<br><br>print(a &lt;= b)<br>print(b &lt;= a)<br>print(b &lt;= c)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True<br>False<br>True</div></div></div>
    <div type="subheader" class="md-headline subheader" content-element="13">Greater than or Equal To</div>
    <div type="code" content-element="14"><div class="code-input-container"><div class="container-label">Python</div><pre>a = 5<br>b = 10<br>c = 10<br><br>print(a &gt;= b)<br>print(b &gt;= a)<br>print(b &gt;= c)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>False<br>True<br>True</div></div></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="15"><div class="question">What is a relational operator?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operator that compares two or more values</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operator that compares more than two values</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">An operator that compares two values</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operation in a Boolean algebra</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="16"><div class="question">Which if the following evaluates to True?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">12 == 'Twelve'</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">12 == '12'</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">12 == 20 - 6</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">12 == 6 + 6</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="17"><div class="question">Which of the following evaluates to True?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left"> 12 != 12</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">12 != 6 + 6</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">12 != '12'</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">12 != 20 - 8</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="18"><div class="question">Which of the following evaluates to False?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">20 &gt; 10</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">0.5 &lt; 1</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">60 &lt;= 60</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">50 &gt;= 60</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <content></content>
    <div layout class="medium-margin-bottom medium-margin-top">
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/arithmetic-operations', $event)">Previous</md-button>
        <div flex></div>
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/boolean-operations', $event)">Next</md-button>
    </div>
    
</div>
<div class="vertical-ad">Ads Here</div>