<div class="nav">
    <div class="menu-title">Sub Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Data Types</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Programming Concepts</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Arithmetic Operations</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Relational Operations</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Boolean Operations</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">String Handling Operations</md-button>
    </div>
</div>