<div class="nav">
    <div class="menu-title">Main Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide"><div>Fundamentals of Programming</div></md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true"><div>Fundamentals of data structures</div></md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true"><div>Systematic approach to problem solving</div></md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true"><div>Theory of computation</div></md-button>
    </div>
</div>