<div class="content">
    <page-header></page-header>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="0">Length</div>
    <div type="code" content-element="1"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "Hello"<br>aLength = len(a)<br><br>print(aLength)<br></pre></div><div class="code-output-container"><div class="container-label">Output</div><div>5</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="2">Position</div>
    <div type="code" content-element="3"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "Hello"<br><br>print(a[0])<br>print(a[1])<br>print(a[2])<br>print(a[3])<br>print(a[4])</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>H<br>e<br>l<br>l<br>o</div></div></div>
    <div type="text" class="text" content-element="4">When getting a letter, the index starts at 0, not 1.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="5">Substring</div>
    <div type="code" content-element="6"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "Hello World"<br>hello = a[0:5]<br>world = a[6:11]<br><br>print(hello)<br>print(world)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>Hello<br>World</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="7">Concatenation</div>
    <div type="code" content-element="8"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "Hello"<br>b = "World"<br>greeting = a + " " + b<br><br>print(greeting)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>Hello World</div></div></div>
    <div type="text" class="text" content-element="9">Trying to concatenate any other data type to a string will result in an error.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="10">Converting a Character to a Character Code</div>
    <div type="text" class="text" content-element="11">A character code is an ASCII value that is used to represent it.</div>
    <div type="code" content-element="12"><div class="code-input-container"><div class="container-label">Input</div><pre>character = 'g'<br>characterCode = ord(character)<br><br>print(characterCode)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>103</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="13">Converting a Character Code to a Character</div>
    <div type="code" content-element="14"><div class="code-input-container"><div class="container-label">Input</div><pre>characterCode = 103<br>character = chr(characterCode)<br><br>print(character)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>g</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="15">String to Integer</div>
    <div type="code" content-element="16"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "10"<br>b = int(a)<br><br>print(b)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>10</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="17">String to Float</div>
    <div type="code" content-element="18"><div class="code-input-container"><div class="container-label">Input</div><pre>a = "10.987"<br>b = float(a)<br><br>print(b)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>10.987</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="19">Integer and Float to String</div>
    <div type="code" content-element="20"><div class="code-input-container"><div class="container-label">Input</div><pre>a = 50<br>b = str(50)<br><br>print(b)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>50</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="21">Date / Time to String</div>
    <div type="code" content-element="22"><div class="code-input-container"><div class="container-label">Input</div><pre>import datetime<br>now = datetime.datetime.now()<br><br>nowString = str(now)<br>print(nowString)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>2017-12-20 10:24:07.311823</div></div></div>
    <div type="text" class="text" content-element="23">The date/time object returned will be the exact date and time at the moment it is called. the above object is an example. As you can see, it takes the format of YEAR-DAY-MONTH HOUR-MINUTE-SECOND</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="24">String to Date / Time</div>
    <div type="text" class="text" content-element="25">There are many ways to convert a string into date/time objects, as there are lots of different ways to format the date. So, the following will be the simplest, and coherent with the example provided above.</div>
    <div type="code" content-element="26"><div class="code-input-container"><div class="container-label">Input</div><pre>import datetime<br><br>datetimeString = "2017-12-20 10:24:07.311823"<br>datetimeObject = datetime.datetime.strptime(datetimeString, "%Y-%m-%d %H:%M:%S.%f")<br><br>print(datetimeObject)<br></pre></div><div class="code-output-container"><div class="container-label">Output</div><div>2017-12-20 10:24:07.311823</div></div></div>
    <div type="text" class="text" content-element="27">The second parameter to the strptime time method depends on the date/time string you would like to convert to a date/time object.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="28">Questions</div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="29"><div class="question">Given that a variable named 'text' is assigned a string value, which of the following expression correctly gets the first character?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">word.firstCharacter()</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">word[1]</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">word.firstLetter()</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">word[0]</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="30"><div class="question">Which expression evaluates to the string "Hello World"?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">Hello + World</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">"Hello" + "World"</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">"Hello" + (Space) + "World"</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">"Hello" + " " + "World"</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="31"><div class="question">What is a character code?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">A character that appears within a string</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">A binary value that represents a character</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An 8 digit number that you can use to represent a character</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">An ASCII value that represents a character.</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <content></content>
    <div layout class="medium-margin-bottom medium-margin-top">
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/boolean-operations', $event)">Previous</md-button>
        <div flex></div>
        <md-button ng-disabled="true" ng-click="direct('', $event)">Next</md-button>
    </div>
</div>
<div class="vertical-ad">Ads Here</div>