<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide"><div>aspects of software development</div></md-button>
    </div>
</div>