<div class="nav"> 
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">data structures and abstract data types</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">queues</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">stacks</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">graphs</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">trees</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">hash tables</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">dictionaries</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">vectors</md-button>
    </div>
</div>