<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">conceptual data models and entity relationship modelling</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">relational databases</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">database design and normalization techniques</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">SQL</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">client server databases</md-button>
    </div>
</div>