<div class="content">
    <page-header></page-header>
    <div type="definition" class="definition-container" content-element="0"><div class="definable">Boolean Operator</div><div>: An operator used to perform boolean logic upon two Boolean expressions.</div></div>
    <div type="text" class="text" content-element="1">It will help to understand the basics of boolean before learning these.</div>
    <div type="subheader" class="md-headline subheader" content-element="2">NOT</div>
    <div type="code" content-element="3"><div class="code-input-container"><div class="container-label">Python</div><pre>a = True<br><br>print(a)<br>print(not a)<br></pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True<br>False</div></div></div>
    <div type="text" class="text" content-element="4">The not operator will flip true to false, or false to true.</div>
    <div type="subheader" class="md-headline subheader" content-element="5">AND</div>
    <div type="code" content-element="6"><div class="code-input-container"><div class="container-label">Python</div><pre>a = True<br>b = True<br>c = False<br>d = False<br><br>print(a and b)<br>print(a and c)<br>print(c and d)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True<br>False<br>False</div></div></div>
    <div type="text" class="text" content-element="7">The AND operator will result in true if both values used are true. Otherwise, if any of the values are false, then the overall evaluation will be false.</div>
    <div type="subheader" class="md-headline subheader" content-element="8">OR</div>
    <div type="code" content-element="9"><div class="code-input-container"><div class="container-label">Python</div><pre>a = True<br>b = True<br>c = False<br>d = False<br><br>print(a or b)<br>print(a or c)<br>print (c or d)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True<br>True<br>False</div></div></div>
    <div type="text" class="text" content-element="10">The OR operator will compare all values and true if any of the values included are true. If no values are true, then the OR operator will return false.</div>
    <div type="subheader" class="md-headline subheader" content-element="11">XOR</div>
    <div type="code" content-element="12"><div class="code-input-container"><div class="container-label">Python</div><pre>a = True<br>b = True<br>c = False<br>d = False<br><br>print(a ^ b)<br>print(a ^ c)<br>print(c ^ d)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>False<br>True<br>False</div></div></div>
    <div type="text" class="text" content-element="13">The XOR operator, meaning exclusively or, means that all values must not be the same, otherwise, the XOR operator will result in false.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="14">Questions</div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="15"><div class="question">What is a Boolean Operator?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operator used to compare two values</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operator used to perform boolean logic upon two integers</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">An operator used to perform boolean logic upon multiple Boolean expressions</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">An operator used to perform boolean logic upon two Boolean expressions</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="16"><div class="question">What symbol is used to express the XOR Operator?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">o</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">^</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">x</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">/</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <content></content>
    <div layout class="medium-margin-bottom medium-margin-top">
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/relational-operations', $event)">Previous</md-button>
        <div flex></div>
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/string-handling-operations', $event)">Next</md-button>
    </div>
</div>
<div class="vertical-ad">Ads Here</div>