<div class="content">
    <page-header></page-header>
    <div google-ad=""></div>
    <div type="text" class="text" content-element="0">The code on this site is written in Python. It is the easiest programming language to understand and is syntactically simple. If you are required to use another programming language for your A-Level, then ensure that you are learning that too.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="1">Variable Declaration and Assignment</div>
    <div type="text" class="text" content-element="2">In programming, data is assigned to variables so that the data can be stored and used more effectively. Here are some examples.</div>
    <div type="code" content-element="3"><div class="code-input-container"><div class="container-label">Python</div><pre>x = 20<br>y = "Hello World!"<br>z = [1,2,3]<br><br>print(type(x))<br>print(type(y))<br>print(type(z))</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>&lt;class 'int'&gt;<br>&lt;class 'str'&gt;<br>&lt;class 'list'&gt;</div></div></div>
    <div type="text" class="text" content-element="4">It is important to use meaningful names for variables. in this case, x, y, and z are used in no context, so don't require a meaning. However, in a large computer program that uses a large number of variables, you must name variables appropriately. For example:</div>
    <div type="code" content-element="5"><div class="code-input-container"><div class="container-label">Python</div><pre>l</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>l</div></div></div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="6">Sequence, Iteration and Selection</div>
    <div type="text" class="text" content-element="7">The three main principles of programming are:</div>
    <div type="definition" class="definition-container" content-element="8"><div class="definable">Sequence</div><div>: In a sequence structure, an action, or event, leads to the next ordered action in a predetermined order.</div></div>
    <div type="text" class="text" content-element="9">An example of a sequence:</div>
    <div type="code" content-element="10"><div class="code-input-container"><div class="container-label">Python</div><div>x = 20<br>y = 30<br>z = x + y<br>print(z)</div></div><div class="code-output-container"><div class="container-label">Output</div><div>50</div></div></div>
    <div type="text" class="text" content-element="11">This is demonstrating that x and y are being set first so that z correctly evaluates.</div>
    <div type="definition" class="definition-container" content-element="12"><div class="definable">Iteration/Repetition</div><div>: The act of repeating a process, either to generate an unbounded sequence of outcomes or with the aim of approaching a desired goal, target or result.</div></div>
    <div type="text" class="text" content-element="13">An example of Iteration:</div>
    <div type="code" content-element="14"><div class="code-input-container"><div class="container-label">Python</div><pre>count = 0<br>while (count &lt; 5):<br>    print 'The count is:', count<br>    count = count + 1</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>The count is 0<br>The count is 1<br>The count is 2<br>The count is 3<br>The count is 4</div></div></div>
    <div type="text" class="text" content-element="15">This is what is known as a while loop. until the condition is met, in this case until the count variable is greater than 5, it will iterate/repeat through the code defined within the loop.</div>
    <div type="text" class="text" content-element="16">The code is first printing the count number, and then increasing it by one, so eventually, it will reach 5 and escape the loop.</div>
    <div type="text" class="text" content-element="17">Iterations can also be nested:</div>
    <div type="code" content-element="18"><div class="code-input-container"><div class="container-label">Python</div><pre>rows = ['a', 'b']<br>columns = [1, 2]<br><br>for row in rows:<br>    for column in columns:<br>        print(row, column)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>(a, 1)<br>(a, 2)<br>(b, 1)<br>(b, 2)</div></div></div>
    <div type="text" class="text" content-element="19">This example is slightly harder to understand. For every row, it will iterate through every column. </div>
    <div type="definition" class="definition-container" content-element="20"><div class="definable">Selection/Choice</div><div>: In a selection structure, a question is asked, and depending on the answer, the program takes one of two courses of action, after which the program moves on to the next event.</div></div>
    <div type="text" class="text" content-element="21">An example of selection:</div>
    <div type="code" content-element="22"><div class="code-input-container"><div class="container-label">Python</div><pre>x = 4<br>if x &gt; 3:<br>    y = True<br>else: <br>    y = False<br><br>print(y)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>True</div></div></div>
    <div type="text" class="text" content-element="23">This is a very simple selection/choice example. The variable y evaluates to True because x is greater than 3.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="24">Functions (subroutines)</div>
    <div type="text" class="text" content-element="25">If it is required to run the same code more than once using different inputs, then a function can be created. Also referred to as a subroutine or a procedure.</div>
    <div type="definition" class="definition-container" content-element="26"><div class="definable">Function</div><div>: A block of code that be called and run using different inputs.</div></div>
    <div type="text" class="text" content-element="27">Functions can take parameters, which is just a fancy word for inputs. Consider the following code:</div>
    <div type="code" content-element="28"><div class="code-input-container"><div class="container-label">Python</div><pre>function addNumbers(n1, n2):<br>    print(n1 + n2)<br><br>addNumbers(20, 40)</pre></div><div class="code-output-container"><div class="container-label">Output</div><div>60</div></div></div>
    <div type="text" class="text" content-element="29">A function has been created called addNumbers. it takes two parameters (inputs) of n1, and n2. The function has then been called, passing 20 as n1, and 40 as n2. The function then prints the sum of these parameters, which results in 60.</div>
    <div type="subheader" title-case="" class="md-headline subheader" content-element="30">Questions</div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="31"><div class="question">Which of the following variables names is not allowed?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">name1</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">_name1</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">Name1</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">1name</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="32"><div class="question">What symbol is used to declare variables?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">-</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">=</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">~</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">&gt;</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <div type="question" layout="column" class="question-container" ng-controller="questionController" content-element="33"><div class="question">Which of the following is not an advantage of using functions in programming?</div><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">Easier to maintain</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center" correct="true"><div flex="" class="large-padding-left">Looks better</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">Less time spent debugging</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button><md-button ng-click="answerSelect($event)" ng-class="{'answer-hover': answered === false}" class="answer" ng-disabled="answered" layout="" layout-align="center center"><div flex="" class="large-padding-left">Coding time is reduced</div><md-icon class="material-icons answer-indicator ng-hide">close</md-icon></md-button></div>
    <content></content>
    <div layout class="medium-margin-bottom medium-margin-top">
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/data-types', $event)">Previous</md-button>
        <div flex></div>
        <md-button ng-click="direct('/computer-science/aqa/unit-1/fundamentals-of-programming/programming/arithmetic-operations', $event)">Next</md-button>
    </div>
</div>
<div class="vertical-ad">Ads Here</div>