<div ng-controller="homeCtrl">
    <!-- image underlay -->
    <img src="/app/client/images/home-computer-science.jpg" class="home-image">
    <!-- welcome text -->
    <div layout layout-align="center start" class="image-overlay">
        <div layout="column">
            <img src="/app/client/images/logo.png" id="home-logo">
            <div id="welcome">Welcome To ALVLS</div>
            <div id="welcome-sub" class="medium-margin-left medium-margin-right">A-Level Revision Has Never Been Easier</div>
            <md-button id="browse-button" ng-click="openSidenav()">Browse</md-button>
            <div hide-gt-xs ng-click="goToBottom()" id="more">More</div>
        </div>
    </div>
    
    <div  id="more-anchor" layout="column" layout-gt-xs="row" class="large-margin-top">
        
        <div flex-gt-xs="33" flex="100" class="infobox large-padding">
            <div layout layout-align="center center">
                <div>
                    <md-icon class="material-icons infobox-icon">remove_red_eye</md-icon>
                </div>
                <div class="md-headline small-padding center-text">Clear</div>
            </div>
            <div class="md-title large-padding center-text">Follow the exact specification for your exam board. Nothing more, nothing less.</div>
        </div>
        
        
        <div flex-gt-xs="33" flex="100" class="infobox large-padding">
            <div layout layout-align="center center">
                <div>
                    <md-icon class="material-icons infobox-icon">touch_app</md-icon>
                </div>
                <div class="md-headline small-padding center-text">Interactive</div>
            </div>
            <div class="md-title large-padding center-text">Test your understanding by completing multiple choice questions.</div>
        </div>
        
        <div flex-gt-xs="33" flex="100" class="infobox  large-padding">
            <div layout layout-align="center center">
                <div>
                    <md-icon class="material-icons infobox-icon">phone_iphone</md-icon>
                </div>
                <div class="md-headline small-padding center-text">Responsive</div>
            </div>
            <div class="md-title large-padding center-text">View pages on your desktop, tablet, and mobile devices.</div>
        </div>
        
    </div>
    
</div>
