<div class="nav">  
    <div class="menu-title">Main Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Fundamentals of programming</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Fundamentals of data structures</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Fundamentals of algorithms</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">theory of computation</md-button>
    </div>
</div>