<div class="nav">
    <div class="menu-title">Units</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Unit 1</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true">Unit 2</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true">Unit 3</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide" ng-disabled="true">Unit 4</md-button>
    </div>
</div>