<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">abstraction and automation</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">regular languages</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Context-Free Languages</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">classification of algorithms</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">a model of computation</md-button>
    </div>
</div>