<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">hardware and software</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">classification of programming languages</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">types of translator</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">logic gates</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">boolean algebra</md-button>
    </div>
</div>