<md-toolbar class="md-hue-1" md-whiteframe="1">
    <div class="md-toolbar-tools" layout layout-align="space-between center" ng-controller="navbarCtrl">
        
        <md-button class="md-icon-button" ng-click="iconSelect[icon]()">
            <md-icon>{{icon}}</md-icon>
        </md-button>
        
        <div flex layout layout="start center">
            <div id="title" class="md-headline" ng-hide="search" ng-click="homeSelect()">ALVLS</div>
        </div>
        
        <!-- search large -->
        <!--
        <div hide-xs>
            <md-input-container class="search disabled">
                <input type="text" ng-model="searchVal"
                focus="focusLarge" placeholder="Search Coming Soon.">
            </md-input-container>
        </div>
        -->
        
        <!-- search small -->
        <!--
        <div hide-gt-xs ng-show="search" class="large-padding-left large-padding-right span search">
            <md-input-container class="span disabled">
                <input ng-disabled="true" type="text" ng-model="searchVal" focus="focusSmall" 
                placeholder="Search Coming Soon.">
            </md-input-container>
        </div>
            
        <md-button class="md-icon-button disabled" ng-click="searchSelect()">
            <md-icon>search</md-icon>
        </md-button>
        -->
            
    </div>
</md-toolbar>