<div class="nav">  
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">functional programming paradigm</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">writing programming functions</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">lists in functional programming</md-button>
    </div>
</div>