<div class="nav">
    <div class="menu-title">Topics</div>
    <div ng-controller="navCtrl">
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Graph-Traversal</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Tree-Traversal</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">Reverse Polish</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">searching algorithms</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">sorting algorithms</md-button>
        <md-button ng-click="direct($event)" title-case class="menu-button hide">optimisation algorithms</md-button>
    </div>
</div>